body {
    background-color: black;
    color: rgb(255, 255, 255);
}

#search {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid white;
    padding: 10px;
}

img {
    width: 80px;
    height: 120px;
    object-fit: contain;
}

#search:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 250px;
}

.head {
    display: flex;
    align-items: left;
    justify-content: space-around;
}

.btn,
.container > button,
.container2 > button,
.container3 > button,
.container4 > button,
.container5 > button,
.container6 > button {
    background-color: rgb(0, 0, 255);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.container,
.container2,
.container3,
.container4,
.container5,
.container6 {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(34, 33, 33);
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    transition: box-shadow;
    justify-content: space-evenly;
}

.container > img,
.container2 > img,
.container3 > img,
.container4 >img,
.container5 > img,
.container6 > img
 {
    width: 100%;
}

.container > button > a,
.container2 > button > a,
.container3 > button > a,
.container4 > button > a,
.container5 > button > a,
.container6 > button > a {
    text-decoration: none;
    color: white;
}

.container:hover,
.container2:hover,
.container3:hover,
.container4:hover,
.container5:hover,
.container6:hover {
    box-shadow: 0px 0px 10px 0px white;
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}





